page-login {
   .form-container {
      position: relative;
      top: 14%;
   }
   
   ion-input {
      border-bottom: 1px solid gray;
   }

   .go-signup-btn {
      text-align: center;
   }

   .login-btn {
      background: linear-gradient(to right, #fc466b, #3f5efb);
      margin-bottom: 0;
   }

   .error-msg {
      color: color($colors, danger);
   }


}
